.grid-item {
  float: left;
  background-color: red;
  width: 80px;
  height: 60px;
  border: 2px solid hsla(0, 0%, 0%, 0.5);
  margin-bottom: 5px;
}

.grid-item--width2 { background-color: red; width: 160px; }
.grid-item--height2 { background-color: red; height: 140px; }